* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter';
}

body {
    background-color: #1b1b1b;
    margin: 40px 0;
}

h1, h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

input[type = "radio"] {
    display: none;
}

/* ---------------------------------- */

.login {
    display: flex;
    justify-content: center;
    margin: 4vh;
    color: white;
}

.login input[type = "text"] {
    width: 50vw;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
    border: solid 2px #151515;
    border-radius: 5vh;
    background-color: #252525;
    color: white;
}

.login input[type = "text"]::placeholder {
    color: gray;
}

.login input[type = "text"]:focus {
    border: solid 2px #151515;
    background-color: #303030;
    color: white;
}

/* ---------------------------------- */

.gameGrid {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    column-gap: 3vw;
    margin: 40px 0;
}

.teamAway {
    grid-column: 2;
}

.teamHome {
    grid-column: 3;
}

.teamGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    text-align: center;
    background-color: #303030;
    border: solid 2px #303030;
    border-radius: 5vh;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3vw;
    padding-right: 2vw;
    font-family: 'Share Tech Mono';
    font-size: 16px;
    color: white;
}

.teamGrid img{
    height: auto;
    max-width: 80%;
}

.gameGrid input[type="radio"]:checked + .teamGrid {
    border: solid 2px white;
}

/* ---------------------------------- */

.submit {
    display: flex;
    justify-content: center;
}

.submit button {
    padding: 0.5rem 4rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: solid 2px #101010;
    border-radius: 5vh;
    background-color: #101010;
    color: white;
}

.submit button:hover {
    border: solid 2px #101010;
    background-color: #252525;
}

/* ---------------------------------- */

/* Laptop and Larger */
@media screen and (min-width: 992px) {

    .gameGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 5vw;
    }

    .teamGrid {
        font-size: 24px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

}

/* Tablet */
@media screen and (max-width: 991px) {

    .login input[type = "text"] {
        width: 60vw;
    }

    h1 {
        font-size: 2.75rem;
    }

    h2 {
        font-size: 2rem;
    }

}

/* Phone */
@media screen and (max-width: 576px) {

    .gameGrid {
        grid-template-columns: 0.5fr 4.5fr 4.5fr 0.5fr;
    }

    .login input[type = "text"] {
        width: 80vw;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

}