* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: blue;
}

h1, h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.login {
    display: flex;
    justify-content: center;
    color: white;
}

/* ---------------------------------- */

.gameGrid {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
}

.teamAway {
    grid-column: 2;
}

.teamHome {
    grid-column: 3;
}

.teamGrid {
    display: grid;
    grid-template-columns: 4fr 6fr;
    place-items: center;
    border: solid 4px white;
    border-radius: 100vw;
    padding: 10px;
    color: white;
}

.teamGrid img{
    height: auto;
    max-width: 100%;
}

input[type = "radio"] {
    display: none;
}

.gameGrid input[type="radio"]:checked + .teamGrid {
    border: solid 4px red;
}

/* ---------------------------------- */

.submit {
    display: flex;
    justify-content: center;
}

.Auburn {
    background-color: navy;
}

@media screen and (max-width: 480px) {

    h6 {
        color: black;
    }

    .gameGrid {
        grid-template-columns: 1fr 1fr;
    }

    .teamAway {
        grid-column: 1;
    }

}